In [105]:
import pandas as pd
import numpy as np
import string
import re

In [106]:
with open("./Folder/businessCard.txt",mode = "r", encoding = "utf8",errors = "ignore") as file:
    text = file.read()
file.close()

In [107]:
data = list(map(lambda x : x.split("\t"), text.split("\n")))
df = pd.DataFrame(data[1:],columns = data[0])
df.head()

         id      text      tag
0  000.jpeg                  O
1  000.jpeg         .        O
2  000.jpeg  040-4852  B-PHONE
3  000.jpeg   "8881,"  I-PHONE
4  000.jpeg     90309  B-PHONE

## Cleaning Text
- Remove white space
- Remove Unwanted special characters

In [108]:
whitespace = string.whitespace
whitespace

' \t\n\r\x0b\x0c'

In [109]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [110]:
punctuation = '!#$%&\'()*+:;<=>?[\\]^`{|}~'
punctuation

"!#$%&'()*+:;<=>?[\\]^`{|}~"

In [111]:
whitespace = string.whitespace
punctuation = '!#$%&\'()*+:;<=>?[\\]^`{|}~'
tableWhitespace = str.maketrans("","",whitespace)
tablePunctuation = str.maketrans("","",punctuation)

def cleanText(txt):
    
    text = str(txt)
    # remove text.lower()
    #text = text.lower()
    removewhitespace = text.translate(tableWhitespace)
    removepunctuation = removewhitespace.translate(tablePunctuation)
    
    return str(removepunctuation)

In [112]:
df["text"] = df["text"].apply(cleanText)
dataClean = df.query("text != '' ")
dataClean = dataClean.query("text != ' ' ")
dataClean.dropna(inplace = True)

In [113]:
dataClean.head()

         id      text      tag
1  000.jpeg         .        O
2  000.jpeg  040-4852  B-PHONE
3  000.jpeg   "8881,"  I-PHONE
4  000.jpeg     90309  B-PHONE
5  000.jpeg     52549  I-PHONE

In [114]:
print("Before Shape :",df.shape)
print("After Shape :",dataClean.shape)

Before Shape : (10446, 3)
After Shape : (8288, 3)

## Convert Data Into Spacy Format

In [115]:
group = dataClean.groupby(by = "id")
group.get_group("000.jpeg")[["text","tag"]].values[:3]

array([['.', 'O'],
       ['040-4852', 'B-PHONE'],
       ['"8881,"', 'I-PHONE']], dtype=object)

In [94]:
grouparray = group.get_group("000.jpeg")[["text","tag"]].values
content = ''
annotations = {"entities" : []}
start = 0
end = 0
for text,label in grouparray:
    text = str(text)
    stringLength = len(text) + 1
    
    start =  end 
    end = start + stringLength
    
    if label != "O":
        annot = (start,end-1,label)
        annotations["entities"].append(annot)
        
    content = content + text + " "

In [95]:
print(content)
print()
print(annotations)

. 040-4852 "8881," 90309 52549 fi /laurelsoverseaseducation @ laurels overseas educational consultancy pvt. ltd. sea u.k australia canada ireland www.laurelseducation.com info@laurelseducation.com

{'entities': [(2, 10, 'B-PHONE'), (11, 18, 'I-PHONE'), (19, 24, 'B-PHONE'), (25, 30, 'I-PHONE'), (62, 69, 'B-ORG'), (70, 78, 'I-ORG'), (79, 90, 'I-ORG'), (91, 102, 'I-ORG'), (103, 107, 'I-ORG'), (108, 112, 'I-ORG'), (146, 170, 'B-WEB'), (171, 196, 'B-EMAIL')]}

In [96]:
content.find("040-4852"),content.find("040-4852") + len("040-4852")

(2, 10)

In [97]:
content.find("www.laurelseducation.com"),content.find("www.laurelseducation.com") + len("www.laurelseducation.com")

(146, 170)

In [98]:
cards = group.groups.keys() # dict_keys(['000.jpeg', '001.jpeg', ...]

allCardsData = []

for card in cards:
    
    cardData = []
    
    grouparray = group.get_group(card)[["text","tag"]].values
    content = ""
    annotations = {"entities" : []} 
    start = 0
    end = 0
    
    for text,label in grouparray:
        text = str(text)
        stringLength = len(text) + 1
        
        start = end
        end = start + stringLength
        
        if label != "O":
            annot = (start,end-1,label)
            annotations["entities"].append(annot)
            
        content = content + text + " "
        
    cardData = (content,annotations)
    
    allCardsData.append(cardData)

In [99]:
allCardsData[0]

('. 040-4852 "8881," 90309 52549 fi /laurelsoverseaseducation @ laurels overseas educational consultancy pvt. ltd. sea u.k australia canada ireland www.laurelseducation.com info@laurelseducation.com ',
 {'entities': [(2, 10, 'B-PHONE'),
   (11, 18, 'I-PHONE'),
   (19, 24, 'B-PHONE'),
   (25, 30, 'I-PHONE'),
   (62, 69, 'B-ORG'),
   (70, 78, 'I-ORG'),
   (79, 90, 'I-ORG'),
   (91, 102, 'I-ORG'),
   (103, 107, 'I-ORG'),
   (108, 112, 'I-ORG'),
   (146, 170, 'B-WEB'),
   (171, 196, 'B-EMAIL')]})

In [100]:
print("Lenght : ", len(allCardsData))

Lenght :  267

## Split The Data Into Training and Testing Set

In [101]:
import random

random.shuffle(allCardsData)

In [102]:
#allCardsData[0]

In [103]:
TrainData = allCardsData[:240]
TestData = allCardsData[240:]

In [104]:
import pickle

pickle.dump(TrainData,open("./data/TrainData.pickle", mode = "wb"))
pickle.dump(TestData,open("./data/TestData.pickle", mode = "wb"))